@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

:root {
    /* Paleta de colores */
    --primary-solid: #FF3333;
    --primary-900: rgb(255, 51, 51, 0.9);
    --primary-500: rgb(255, 51, 51, 0.5);
    --primary-300: rgb(255, 51, 51, 0.3);
    
    --seconday-solid: #1D84B5;
    --seconday-900: rgb(29, 132, 181, 0.9);
    --seconday-500: rgb(29, 132, 181, 0.5);
    --seconday-300: rgb(29, 132, 181, 0.3);

    --dark-solid: #1F1F1F;
    --dark-900: rgb(31, 31, 31,0.9);
    --dark-500: rgb(31, 31, 31,0.5);
    --dark-300: rgb(31, 31, 31,0.3);

    --dark-bg-solid: #30343F;
    --light-bg-solid: #FAFAFF;

    --light-font-solid: #FFFFFF;

    /* Tipografías */
    --base-font: 'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;

    /* Tamaños de fuente */
    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.2em;

    /* Espacios - Margenes */
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-16: 2.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
}

/* Normalización de estilos */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: var(--base-font);
    color: var(--dark-solid);
}

header, footer {
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
}

nav {
    background: #30343F;
    color: #FFFFFF;
    display: grid;
    grid-template-areas: "n-picture n-ul";
}

nav picture {
    grid-area: n-picture;
    width: 2rem;
}

nav ul {
    grid-area: n-ul;
    font-size: 1.6em;
    text-align: right;
    margin-top: 1em;
}

#icon {
    width: 2.3rem;    
}

li {
    list-style: none;
}

.f-brand {
    display: inline;
}

nav li {
    display:inline;
    padding-left:3px;
    padding-right:3px;
}

li a:link {
    text-decoration: none;
    color: #FFFFFF;
}

li a:visited {
    text-decoration: none;
    color: #FFFFFF;
}

article a:link {
    text-decoration: none;
    color: #111111;
}

article a:visited {
    text-decoration: none;
    color: #111111;
}

.banner {
    background-image: url("../img/funkos-banner.webp");
    background-position: top;
    background-size: cover;
    color: #FFFFFF;
    height: 20rem;
    font-size: 2em;
    padding-left: 5em;
    padding-top: 3em;
}

main {
    display: grid;
    grid-template-areas: 
    "s1"
    "s2"
    "s3";
    margin-right: 30em;
    margin-left: 30em;
}

.pages a:visited, .pages a:link {
    color: var(--dark-solid);
    font-size: var(--font-display);
}

#s1 {
    grid-area: s1;
    display: grid;
    grid-template-areas: "d1 i1";
}

#d1 {
    grid-area: d1;
}

#i1 {
    grid-area: i1;
}

#s2 {
    grid-area: s2;
    display: grid;
    grid-template-areas: "i2 d2";

}

#d2 {
    grid-area: d2;
}

#i2 {
    grid-area: i2;
}

#s3 {
    grid-area: s3;
    display: grid;
    grid-template-areas: "d3 i3";
}

#d3 {
    grid-area: d3;
}

#i3 {
    grid-area: i3;
}

section article {
    margin-top: 15em;
    margin-left: 9.5em;
    padding-right: 24.5em;
}

section picture img{
    width: 57rem;
}

article h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 4.5em;
    margin-bottom: 0.5em;
}

article p {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 2em;
    margin-bottom: 0.5em;
}

footer {
    background: #30343F;
    color: #FFFFFF;
}

.copy {
    text-align: center;
}
